<div class="tw-m-24-px">
  <ng-container>
    <table class="table-view">
      <thead class="tw-bg-table-header-bg">
        <tr class="table-row">
          <th class="header">Title and Sub Title</th>
          <th class="header">Author</th>
          <th class="header">First Publish Year</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let book of booksList" class="row-data">
          <td>
            <a class="tw-no-underline" href="https://openlibrary.org{{ book.key }}" target="_blank">{{ book.title }}</a>
          </td>
          <td>
            <a *ngIf="book.author_key?.length" class="tw-no-underline" target="_blank"
              href="https://openlibrary.org/authors/{{book.author_key[0]}}">
              {{ book.author_name[0] }}
            </a>
            <p *ngIf="!book.author_key?.length">Unknown</p>
          </td>
          <td>
            <div *ngIf="book.first_publish_year">
              {{ book.first_publish_year }}
            </div>
            <div *ngIf="!book.first_publish_year">
              Unknown
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>